.footer {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-top: 1px solid var(--color-border);

    &__row {
        display: flex;
    }

    &__col {
        flex-grow: 1;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;

        &--right {
            text-align: right;
        }

        &--small {
            font-size: 80%;
        }
    }

    &__header {
        font-size: 1.25rem;
    }

    &__list {
        padding-left: 0;
        list-style: none;
    }
}
