{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block field_sets %}
    {# Inject backend-controlled constants/content into the frontend state #}
    {{ object_fields|json_script:"object-fields" }}
    {{ data_fields|json_script:"data-fields" }}
    {{ token_auth_choices|json_script:"token-auth-choices" }}
    {{ object_type_choices|json_script:"object-type-choices" }}
    {{ mode_choices|json_script:"mode-choices" }}
    {{ initial_data|json_script:"initial-data" }}

    <div id="react-permissions">
        {# empty on purpose - react managed #}
    </div>

{% endblock %}
