// sass vars
/* Colors */
$color_primary: #04a5bb;
$color_primary_dark: #017092;
$color_primary_light: #c3eaef;

$color_secondary: #f3f3f3;
$color_secondary_dark: #c6c6c6;
$color_secondary_light: #fff;

$color_alert: #dc3545;
$color_alert_dark: #bd2130;

$color_darkest: #000;
$color_dark: #333;
$color_lightest: #fff;
$color_muted: #6c757d;

$color_link: #017092;
$color_link_hover: #051f31;
$color-text: $color_dark;
$color-border: $color_secondary_dark;

// css vars
:root {
  --color_primary: #{$color_primary};
  --color_primary_dark: #{$color_primary_dark};

  --color_secondary: #{$color_secondary};
  --color_secondary_dark: #{$color_secondary_dark};
  --color_secondary_light: #{$color_secondary_light};

  --color_alert: #{$color_alert};
  --color_alert_dark: #{$color_alert_dark};

  --color-darkest: #{$color-darkest};
  --color_dark: #{$color_dark};
  --color_lightest: #{$color_lightest};
  --color_muted: #{$color_muted};

  --color_link: #{$color_link};
  --color_link_hover: #{$color_link_hover};
  --color-text: #{$color-text};
  --color-border: #{$color-border};
}
