/* Colors */
$color_primary: #04a5bb;
$color_primary_dark: #017092;
$color_primary_light: #c3eaef;

$color_secondary: #f3f3f3;
$color_secondary_dark: #ddd;
$color_secondary_light: #fff;

$color_link: #017092;
$color_link_hover: #051f31;

$color_darkest: #000;
$color_dark: #333;
$color_lightest: #fff;

$color_error: #ba2121; // default django admin color

$color_tooltip_background: #fffeaa;
$color_tooltip_border: #f7f071;
$color_tooltip_text: #000;

/* Dimensions */
$input_field_size: 20em; // django-original: 20em;

/* Responsive breakpoints used int the Django admin */
$breakpoint_tablet: 768px;
$breakpoint_laptop: 1025px;
