{% extends "admin/object_history.html" %}
{% load i18n admin_urls %}


{% block content %}
<div id="content-main">
    <div class="module">
        <table id="change-history">
            <thead>
                <tr>
                    <th scope="col">{% trans 'Version' %}</th>
                    <th scope="col">{% trans 'Status' %}</th>
                    <th scope="col">{% trans 'Created at' %}</th>
                    <th scope="col">{% trans 'Modified at' %}</th>
                    <th scope="col">{% trans 'Published at' %}</th>
                    <th scope="col">{% trans 'JSON schema' %}</th>
                </tr>
            </thead>
            <tbody>
            {% for version in object.ordered_versions %}
                <tr>
                    <td>{{ version.version }}</td>
                    <td>{{ version.get_status_display }}</td>
                    <td>{{ version.created_at }}</td>
                    <td>{{ version.modified_at }}</td>
                    <td>{{ version.published_at }}</td>
                    <td>{{ version.json_schema }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}
