{% extends "maykin_common/api/index_base.html" %}
{% load i18n %}

{% block page_title %}{{ settings.PROJECT_NAME }}{% endblock %}
{% block page_subtitle %}{{ settings.SITE_TITLE }}{% endblock page_subtitle %}

{% block content %}

    {% block content_header %}
        {{ block.super }}
    {% endblock content_header %}
    <div class="container container--center">
        <h1>{% trans "Sorry, your account has been blocked" %}</h1>
        <p>{% trans "If you you want your account unblocked, please contact the webmaster." %}</p>
    </div>
{% endblock %}
