{% extends "master.html" %}
{% load staticfiles %}

{% block body-class %}demo{% endblock %}

{% block content %}
<article class="content">
  <img class="demo__logo-img" src="{% static 'img/maykinmedia_logo.png' %}">

  <h1 class="demo__title">It worked!</h1>

  <h2>Congratulations on installing the Maykin Media <strong>Objects</strong> project.
  </h2>

  <section>
    <p>
      You can find Objects API <a href="{% url 'api-root' %}">here</a>.
    </p>

    <p>
      You can also checkout the <a href="{% url 'admin:index' %}">admin</a>.
    </p>
  </section>

  <p>
    You're seeing this message because you have <code>DEBUG = True</code> in your Django settings file and you
    haven't configured any URLs. Get to work!
  </p>
</article>
{% endblock %}
