{% extends "master.html" %}

{% block content %}

  <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{ settings.PROJECT_NAME }} API</h1>
    <p class="lead">{{ settings.SITE_TITLE }}</p>
  </div>

  <div class="container text-center">

    <ul class="nav nav-tabs justify-content-center" id="languageChoice" role="tablist">
      <li class="nav-item ">
        <a class="nav-link active text-info" id="en-tab" data-toggle="tab" href="#en" role="tab" aria-controls="en" aria-selected="true">English</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-info" id="nl-tab" data-toggle="tab" href="#nl" role="tab" aria-controls="nl" aria-selected="false">Nederlands</a>
      </li>
    </ul>
    <div class="tab-content" id="description">
      <div class="tab-pane fade show active" id="en" role="tabpanel" aria-labelledby="en-tab">

        <br>
        <p>
          The Objects API aims to easily store various objects and make them available in
          standardized format. The Objects API can be used by any organization to manage
          relevant objects. An organization can also choose to use the Objects API to
          expose objects to the public, as Open Data.
        </p>
        <p>
          To define the format of objects, so called object types, organizations can use
          a national and/or local
          <a class="text-info" href="https://github.com/maykinmedia/objecttypes-api">
            Objecttypes API</a>.
        </p>

      </div>
      <div class="tab-pane fade" id="nl" role="tabpanel" aria-labelledby="nl-tab">

        <br>
        <p>
          De Objecten API heeft als doel om uiteenlopende objecten eenvoudig te kunnen
          registreren en ontsluiten in een gestandaardiseerd formaat. De Objecten API kan
          door elke organisatie ingezet worden om de voor haar interessante objecten te
          beheren. Ook kan een organisatie er voor kiezen een Objecten API in te zetten
          voor Open Data, waarbij de geregistreerde objecten publiekelijk toegankelijk
          zijn.
        </p>
        <p>
          Om het formaat van objecten, de zogenoemde objecttypen, vast te leggen wordt
          gebruik gemaakt van de landelijke en/of een lokale
          <a class="text-info" href="https://github.com/maykinmedia/objecttypes-api">
            Objecttypen API</a>.
        </p>

      </div>
    </div>

    <hr>

    <p>
      <b>Licensed under the <a class="text-info" href="https://github.com/maykinmedia/objects-api/blob/master/LICENSE.md">
        European Union Public License (EUPL) 1.2</a></b>
    </p>

    <p>
      <a href="{% url 'schema-redoc' version %}" class="btn btn-sm btn-info"><i class="fas fa-file-alt"></i> Open API specification</a>
      <a href="{% url 'api-root' version %}" class="btn btn-sm btn-info"><i class="fas fa-wifi"></i> API root</a>
    </p>

    <p>
      <a href="{% url 'admin:index' %}" class="btn btn-sm btn-danger"><i class="fas fa-lock"></i> Administration</a>
    </p>

  </div>

{% endblock %}
