{% extends "maykin_common/api/index_base.html" %}
{% load i18n %}


{% block page_title %}{{ settings.PROJECT_NAME }}{% endblock %}
{% block page_subtitle %}{{ settings.SITE_TITLE }}{% endblock page_subtitle %}


{% block content_nl %}
<p>
    Open Object heeft als doel om uiteenlopende typen objecten op een dynamische wijze
    te standaardiseren en om te voorkomen dat voor elk (eenvoudig) object een volledige
    API wordt opgezet. instanties van objecten kunnen eenvouding worden geregistreerd en
    ontsloten in een gestandaardiseerd formaat. De Objecten API kan door elke
    organisatie ingezet worden om de voor haar interessante objecten te beheren. Ook kan
    een organisatie er voor kiezen een Objecten API in te zetten voor Open Data,
    waarbij de geregistreerde objecten publiekelijk toegankelijk zijn.
</p>
{% endblock content_nl %}

{% block content_en %}
<p>
    Open Object aims to standardize various types of objects in an accessible way and
    without the need to create a whole new API for each (simple) object. Instances of
    these object types can be made available in a standardized format. It can be used by
    any organization to manage relevant objects. An organization can also choose to use
    it to expose objects to the public as Open Data.
</p>
{% endblock content_en %}


{% block license_link %}https://github.com/maykinmedia/objects-api/blob/master/LICENSE.md{% endblock %}


{% block api_links %}
    {% url version|add:":schema-redoc" as api_docs_link %}
    {% url version|add:":api-root" as api_schema_link %}

    {% with api_docs_link=api_docs_link api_schema_link=api_schema_link %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block extra_buttons %}
    <div class="button-group">
        <a href="https://github.com/maykinmedia/objects-api/blob/master/src/notificaties.md" class="button">
            <i class="fas fa-bullhorn"></i>
            {% trans "Notifications" %}
        </a>
    </div>
{% endblock %}

