{% load static vng_api_common %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'bundles/objects-css.css' %}">
    <link rel="stylesheet" href="{% static 'vng_api_common/libs/fontawesome/css/all.min.css' %}">

    <link rel="icon" type="image/png" href="{% static 'ico/favicon.png' %}">

    {% block extra_style %}{% endblock %}

    <title>{% block title %}{% if title %}{{ title }}{% else %}{{ settings.SITE_TITLE }}{% endif %} | {{ settings.PROJECT_NAME }}{% endblock %}</title>
  </head>
  <body>

    {% if not settings.SITE_TITLE or not settings.PROJECT_NAME %}
      <div class="container">
        Please add the variables <em>SITE_TITLE</em> and <em>PROJECT_NAME</em> to your <em>settings.py</em> and make
        sure they are available via <em>context processors</em>.
      </div>
    {% endif %}

    {% block content %}
      Override <code>{% verbatim %}{% block content %}{% endverbatim %}</code>
      to get some actual content.
    {% endblock %}

    <footer class="footer container">
      <div class="footer__row">
        <div class="footer__col footer__col--small">
          <img src="{% static 'img/maykin_logo.png' %}" alt="Maykin Media logo" height="48">
          <img src="{% static 'img/opengem_logo.png' %}" alt="Open Gemeente Initiatief logo" height="48">
          <p>
          Developed by <a class="link" href="https://www.maykinmedia.nl">Maykin Media</a><br>
          within the <a class="link" href="https://opengem.nl">Open Gemeente Initiatief</a> &copy; {% now "Y" %}<br>
          commissioned by the <a class="link" href="https://www.utrecht.nl">Municipality of Utrecht</a>
          </p>
        </div>
        <div class="footer__col">
          <h5 class="footer__header">Objects API</h5>
          <ul class="footer__list">
            <li><a class="link link--muted" href="https://objects-and-objecttypes-api.readthedocs.io/">Documentation</a></li>
            <li><a class="link link--muted" href="https://commonground.nl/groups/view/54477963/objecten-en-objecttypen-api">Community on CommonGround.nl</a></li>
            <li><a class="link link--muted" href="https://hub.docker.com/r/maykinmedia/objects-api">Docker images</a></li>
            <li><a class="link link--muted" href="https://github.com/maykinmedia/objects-api">Code on Github</a></li>
          </ul>
        </div>
        <div class="footer__col">
          <h5 class="footer__header">Other</h5>
          <ul class="footer__list">
            <li>Report <a class="link link--muted" href="https://github.com/maykinmedia/objects-api/issues">issues</a> for questions, bugs or wishes</li>
            <li>Read more on <a class="link link--muted" href="https://commonground.nl/">Common Ground</a></li>
          </ul>
        </div>
      </div>

      <div class="footer__row">
        <div class="footer__col">
          <code>{{ settings.RELEASE }}</code>
        </div>
        <div class="footer__col footer__col--right">
          <code>{{ settings.GIT_SHA|default:"" }}</code>
        </div>
      </div>
    </footer>

    <script src="{% static 'bundles/objects-js.js' %}" type="text/javascript"></script>
    {% block extra_scripts %}{% endblock %}
  </body>
</html>
