sites_config_enable: true
sites_config:
  items:
  - domain: example.com
    name: Example site


zgw_consumers_config_enable: true
zgw_consumers:
  services:
  - identifier: objecttypes-api
    label: Objecttypes API
    api_root: http://objecttypes-web:8000/api/v2/
    api_connection_check_path: objecttypes
    api_type: orc
    auth_type: api_key
    header_key: Authorization
    header_value: Token b9f100590925b529664ed9d370f5f8da124b2c20

  - identifier: notifications-api
    label: Notificaties API
    api_root: http://notificaties.local/api/v1/
    api_connection_check_path: notificaties
    api_type: nrc
    auth_type: api_key
    header_key: Authorization
    header_value: Token ba9d233e95e04c4a8a661a27daffe7c9bd019067


notifications_config_enable: true
notifications_config:
  notifications_api_service_identifier: notifications-api
  notification_delivery_max_retries: 1
  notification_delivery_retry_backoff: 2
  notification_delivery_retry_backoff_max: 3


objecttypes_config_enable: true
objecttypes:
  items:
    - uuid: b427ef84-189d-43aa-9efd-7bb2c459e281
      name: Object Type 1
      service_identifier: objecttypes-api

    - uuid: b0e8553f-8b1a-4d55-ab90-6d02f1bcf2c2
      name: Object Type 2
      service_identifier: objecttypes-api


tokenauth_config_enable: true
tokenauth:
  items:
    - identifier: token-1
      token: ba9d233e95e04c4a8a661a27daffe7c9bd019067
      contact_person: Person 1
      email: person-1@example.com
      organization: Organization 1
      application: Application 1
      administration: Administration 1
      permissions:
        - object_type: b0e8553f-8b1a-4d55-ab90-6d02f1bcf2c2
          mode: read_only
          use_fields: true
          fields:
            '1':
              - record__data__leeftijd
              - record__data__kiemjaar
        # additional permissions can be added like this:
        # - object_type: b427ef84-189d-43aa-9efd-7bb2c459e281
        #   mode: read_and_write
    - identifier: token-2
      token: QRjwfpD3nf0WpFOOHR37oMhcPPbWFKd4
      contact_person: Admin
      email: admin@example.com
      organization: Organization 2
      application: Application 2
      administration: Administration 2
      is_superuser: true

oidc_db_config_enable: true
oidc_db_config_admin_auth:
  providers:
  - identifier: admin-oidc
    oidc_use_nonce: true
    oidc_nonce_size: 32
    oidc_state_size: 32
    endpoint_config:
        oidc_op_authorization_endpoint: http://localhost:8080/realms/test/protocol/openid-connect/auth
        oidc_op_jwks_endpoint: http://localhost:8080/realms/test/protocol/openid-connect/certs
        oidc_op_token_endpoint: http://localhost:8080/realms/test/protocol/openid-connect/token
        oidc_op_user_endpoint: http://localhost:8080/realms/test/protocol/openid-connect/userinfo
  items:
  - identifier: admin-oidc
    enabled: true
    oidc_rp_client_id: testid
    oidc_rp_client_secret: 7DB3KUAAizYCcmZufpHRVOcD0TOkNO3I
    oidc_rp_scopes_list:
    - openid
    - email
    - profile
    oidc_rp_sign_algo: RS256
    oidc_provider_identifier: admin-oidc
    userinfo_claims_source: id_token
    options:
      user_settings:
        claim_mappings:
          username:
            - sub
          first_name:
            - given_name
          email:
            - email
        username_case_sensitive: true
      groups_settings:
        claim_mapping:
          - groups
        sync: true
        sync_pattern: '*'
        default_groups: []
        make_users_staff: true
        superuser_group_names:
          - Registreerders