name: generate-postman-collection

on:
  push:
    paths:
      - "src/objects/api/v*/openapi.yaml"
      - ".github/workflows/generate-postman-collection.yml"
    branches:
      - '**'
  workflow_dispatch:

jobs:
  open-api-workflow-generate-postman-collection:
    uses: maykinmedia/open-api-workflows/.github/workflows/generate-postman-collection.yml@initial-setup
    strategy:
      matrix:
        version:
          - v1
          - v2
    with:
      node-version: '18'
      schema-path: 'src/objects/api/${{ matrix.version }}/openapi.yaml'
