name: lint-oas

on:
  push:
    paths:
      - "src/objects/api/v*/openapi.yaml"
      - .github/workflows/lint-oas.yml
    branches:
      - '**'
  workflow_dispatch:

jobs:
  open-api-workflow-lint-oas:
    uses: maykinmedia/open-api-workflows/.github/workflows/lint-oas.yml@initial-setup
    strategy:
      matrix:
        version:
          - v2
    with:
      node-version: '18'
      schema-path: 'src/objects/api/${{ matrix.version }}/openapi.yaml'
