name: Check Open API Framework Version

on:
  push:
    branches:
      - master
    tags:
      - '**'
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '00 7 * * 1'

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'
          cache-dependency-path: 'requirements/dev.txt'
      - name: Install dependencies
        run: pip install uv
      - name: Run compile dependencies
        run: ./bin/compile_dependencies.sh --upgrade-package open-api-framework

      - name: Check git diff
        run: git diff --exit-code -- requirements/*.txt
