name: quick-start

on: [push]

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Download docker-compose file
        # todo replace branch name with master after the change is merge
        run: wget https://raw.githubusercontent.com/maykinmedia/objects-api/feature/merge-docker-composes/docker-compose.yml
      - name: Start docker containers
        run: docker compose up -d --no-build
      - name: Load fixtures
        run: docker compose exec -T web src/manage.py loaddata demodata
      - name: Create superuser
        run: docker compose exec -T web src/manage.py createsuperuser --username admin --email admin@admin.nl --no-input
      - name: Check main page
        run: |
          curl_status=$(curl -w '%{http_code}' -o /dev/null  -s http://localhost:8000/)
          if [[ $curl_status != 200 ]]; then
            printf "Index page responds with ${curl_status} status.\r\n\r\n" >&2
            curl -i http://localhost:8000
            exit 1
          fi
