{{- if not .Values.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "objects.fullname" . }}
  labels:
    {{- include "objects.labels" . | nindent 4 }}
type: Opaque
data:
  DB_PASSWORD: {{ .Values.settings.database.password | toString | b64enc | quote }}
  SECRET_KEY: {{ .Values.settings.secretKey | toString | b64enc | quote }}
  {{- if .Values.settings.sentry.dsn }}
  SENTRY_DSN: {{ .Values.settings.sentry.dsn | toString | b64enc | quote }}
  {{- end }}
{{- end }}
